---
import Base from '../layouts/Base.astro';
---

<Base includeSidebar={false}>
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-4xl font-bold mb-4">¡Ups! Página no encontrada</h1>
        <p class="text-lg mb-4">
            Lamentamos decirte que la página que estás buscando no pudo ser
            encontrada.
        </p>
        <a
            class="bg-nord-background text-white py-3 px-6 rounded-full hover:bg-nord-secondary"
            href="/">Volver al inicio</a
        >
    </div>
</Base>
