---
import Base from "../layouts/Base.astro";
---

<Base sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="py-2">
      <text class="text-lg">
        ¡Hola! Soy Camila, soy estudiante de Ciencia de la Computación. Mis principales temas de interes son el Machine Learning y la biotecnologia.
      </text>
    </div>
  </div>
</Base>
