---
import Base from '../layouts/Base.astro';
---

<Base sideBarActiveItemID="home">
    <div class="pb-12 mt-5">
        <div class="mx-auto max-w-4xl">
            <div class="py-2">
                <h1 class="text-2xl font-bold pb-4">Hi! I'm Clari</h1>
                <p class="text-lg pb-12">
                    I am a computer science student future software engineer. I am very interested in artificial intelligence, robotics and biotechnology. For now I am concentrating on Artificial Intelligence. My goal is to make the reality I live in more interesting and fun, like in a fantasy book with a lot of technology. So I think that every project I do is related to that path. 'The path I want to build'.
                    <br>
                    <br>

As for my hobbies, they are music 🪕, table football ⚽️ and reading 📚(read code too 😏)
                </p>
                <div class="grid grid-cols-1 md:flex md:justify-between pb-12 md:space-x-4">
                    <a href="/projects">
                        <div class="pb-8 hover:shadow-xl hover:scale-[102%]">
                            <h2 class="text-xl font-bold">Projects</h2>
                            <p>A collection of my projects using machine learning and AI.</p>
                        </div>
                    </a>
                    <a href="/blog">
                        <div class="pb-8 hover:shadow-xl hover:scale-[102%]">
                            <h2 class="text-xl font-bold">Blog</h2>
                            <p>Thoughts and learnings from my journey in tech.</p>
                        </div>
                    </a>
                    <a href="/journal">
                        <div class="pb-8 hover:shadow-xl hover:scale-[102%]">
                            <h2 class="text-xl font-bold">Work-Journal</h2>
                            <p>A log of my work and progress.</p>
                        </div>
                    </a>
                </div>
                <blockquote class="border-l-4 border-gray-500 pl-4 italic mt-4">
                    <p class="text-lg">I'm always looking to collaborate and discuss new ideas. Feel free to reach out, I'd love to connect!</p>
                </blockquote>
            </div>
        </div>
    </div>
</Base>
