---
import Base from '../layouts/Base.astro';
---

<Base sideBarActiveItemID="home">
    <div class="pb-12 mt-5">
        <div class="mx-auto max-w-4xl">
            <div class="py-2">
                <h1 class="text-2xl font-bold pb-4">Hello!</h1>
                <p class="text-lg pb-12">
                This is my personal site where I share things I find interesting—mostly tech-related, but not always.
                <br>
                <br>
                I'm a GNU/Linux user, a big advocate for the Free Software Movement, and stepping into IndieWeb movement.
                This site started out as a portfolio, but now it’s more of a space where I share what I’ve learned with anyone who’s curious and wants to learn too. I’d really like to get into open-source contributions, but I just haven’t done it yet.
                <br>
                <br>
                My interests include, in no particular order: blogging, decentralization, GNU/Linux, BSD, free software movement, competitive programming, robotics, artificial intelligence...
                <br>
                <br>
                As for my hobbies, they are music 🪕, table football ⚽️ and reading 📚
                <br>
                <br>
                </p>
                <div class="grid grid-cols-1 md:flex md:justify-between pb-12 md:space-x-4">
                    <a href="/projects">
                        <div class="pb-8 hover:shadow-xl hover:scale-[102%]">
                            <h2 class="text-xl font-bold">Projects</h2>
                            <p> showcase of my projects and collaborations.</p>
                        </div>
                    </a>
                    <a href="/blog">
                        <div class="pb-8 hover:shadow-xl hover:scale-[102%]">
                            <h2 class="text-xl font-bold">Blog</h2>
                            <p>Thoughts, experiences, and random stuff.</p>
                        </div>
                    </a>
                    <a href="/journal">
                        <div class="pb-8 hover:shadow-xl hover:scale-[102%]">
                            <h2 class="text-xl font-bold">Work-Journal</h2>
                            <p>A quick log of stuff I’ve worked on to see how I’m doing.</p>
                        </div>
                    </a>
                </div>
                <blockquote class="border-l-4 border-gray-500 pl-4 italic mt-4">
                    <p class="text-lg">This site is being rebuilt...</p>
                </blockquote>
            </div>
        </div>
    </div>
</Base>
