---
import Base from "../layouts/Base.astro";
---

<Base sideBarActiveItemID="home">
  <div class="pb-12 mt-5 flex items-center justify-center">
    <div>
      <div class="py-2">
        <text class="text-lg">
          ¡Hola! Soy Camila, soy estudiante de Ciencia de la Computación. Mis principales temas de interés son el Machine Learning y la biotecnología.
        </text>
      </div>
    </div>
  </div>
</Base>
